<div style="width: 100%; text-align: center;">
    <h3>Message received in forground</h3>
</div>
<div class="box" *ngIf="notifications.length != 0; else noNotification">
    <div class="card" *ngFor="let notification of notifications; index as i">
        <div class="card-body">
            <h5 class="card-title">{{notification.title}}</h5>
            <p class="card-text">
                {{notification.body}}
            </p>
            <button type="button" class="btn btn-primary" (click)="remove(i)">Remove</button>
        </div>
    </div>
</div>
<ng-template #noNotification>
    <div style="width: 100%; text-align: center;">
        <p class=" card-text">
        Notification is empty
        </p>
    </div>
</ng-template>
<router-outlet></router-outlet>