.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .box div {
    width: 50%;
    height: 10%;
  }

  .card{
  margin-top: 2%;
  }

  .labelStyle {
      margin-top: 3%;
  }